* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #FFFFFF;
  font-family: "Open Sans", Sans-serif;
  font-size: 16px; }

.page-wrapper {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden; }

::-moz-selection {
  background: rgba(51, 51, 51, 0.8);
  color: #FFFFFF;
  text-shadow: none; }

::selection {
  background: rgba(51, 51, 51, 0.8);
  color: #FFFFFF;
  text-shadow: none; }

header {
  background: #9FB735;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 400px; }
  header .menu {
    margin: 40px 0;
    text-align: right; }
    header .menu a {
      margin: 0 20px;
      color: #FFFFFF;
      padding-bottom: 9px;
      display: inline-block;
      text-decoration: none;
      border-bottom: 2px solid transparent;
      font-size: 1em; }
      header .menu a:hover {
        border-bottom: 2px solid #FFFFFF; }
  header .page-wrapper-text {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 60px; }
    header .page-wrapper-text .text {
      border: 2px solid rgba(255, 255, 255, 0.5);
      border-radius: 3px;
      display: inline-block;
      text-align: center;
      padding: 20px 60px; }
      header .page-wrapper-text .text h1, header .page-wrapper-text .text h2 {
        color: #FFFFFF;
        font-weight: 300;
        margin: 0; }
      header .page-wrapper-text .text .name {
        margin-bottom: 10px;
        font-size: 50px;
        line-height: 50px; }
      header .page-wrapper-text .text .profession {
        font-size: 25px;
        line-height: 25px; }

.main .page-wrapper {
  overflow: visible; }
.main .about-projects {
  text-align: center; }
  .main .about-projects .photo {
    margin-top: 0; }
    .main .about-projects .photo img {
      vertical-align: top;
      border-radius: 10%;
      border: 6px solid rgba(255, 255, 255, 0.2); }
  .main .about-projects .text {
    color: #5a5a5a;
    font-weight: 600;
    font-size: 1em;
    line-height: 30px;
    width: 80%;
    margin: 40px auto 60px auto; }
    .main .about-projects .text .title {
      font-size: 34px;
      line-height: 34px;
      margin-bottom: 40px;
      font-weight: 325;
      color: #F86624;
      text-align: center; }
.main .projects {
  background: #F2F2F2;
  padding: 60px 0; }
  .main .projects .page-wrapper {
    overflow: hidden; }
  .main .projects .title {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: 300;
    color: #323068;
    text-align: center; }
  .main .projects .page-wrapper-projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    .main .projects .page-wrapper-projects .project {
      width: 23%;
      margin-bottom: 40px; }
      .main .projects .page-wrapper-projects .project .thumb {
        width: 100%;
        margin-bottom: 10px; }
        .main .projects .page-wrapper-projects .project .thumb img {
          width: 100%;
          vertical-align: top;
          border-radius: 3px;
          opacity: 0.5;
          border: 1px solid #ddd;
          padding: 3px; }
          .main .projects .page-wrapper-projects .project .thumb img:hover {
            opacity: 1;
            border: 1px solid #F86624; }
      .main .projects .page-wrapper-projects .project .description {
        text-align: center; }
        .main .projects .page-wrapper-projects .project .description .name {
          font-weight: 700;
          color: #F86624;
          margin-bottom: 10px; }
        .main .projects .page-wrapper-projects .project .description .category {
          font-size: 14px;
          color: #000000; }

footer {
  background: #9FB735;
  padding: 30px 0; }
  footer .copy-right {
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 325;
    line-height: 11px;
    margin-top: 20px; }
    footer .copy-right a {
      margin: 0 10px;
      color: #FFFFFF;
      padding-bottom: 9px;
      display: inline-block;
      text-decoration: none;
      border-bottom: 2px solid transparent;
      font-size: 1em; }
      footer .copy-right a:hover {
        border-bottom: 2px solid #FFFFFF; }

@media screen and (max-width: 800px) {
  header .menu {
    text-align: center;
    width: 100%; }

  .main .projects .page-wrapper-projects .project {
    width: 100%; } }
@media screen and (max-width: 500px) {
  header .page-wrapper-text {
    width: 100%; }
    header .page-wrapper-text .name {
      font-size: 35px; }
    header .page-wrapper-text .profesion {
      font-size: 18px; }

  footer .copy-right {
    flex-wrap: wrap;
    padding: 20px 0; } }

/*# sourceMappingURL=main.css.map */
