*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box

body
	background: $white
	font-family: "Open Sans", Sans-serif
	font-size: 16px

.page-wrapper
	width: 90%
	max-width: 1000px
	margin: auto
	overflow: hidden

::-moz-selection
	background: rgba(51,51,51,.8)
	color: $white
	text-shadow: none

::selection
	background: rgba(51,51,51,.8)
	color: $white
	text-shadow: none
