// FOOTER STYLES

footer
	background: $bg_green
	padding: 30px 0
	.copy-right
		text-align: center
		font-size: 16px
		color: $white
		font-weight: 325
		line-height: 11px
		margin-top: 20px
		a
			margin: 0 10px
			color: $white
			padding-bottom: 9px
			display: inline-block
			text-decoration: none
			border-bottom: 2px solid transparent
			font-size: 1em
			&:hover
				border-bottom: 2px solid $white
