// HEADER STYLES

header
	background: $bg_green
	background-repeat: no-repeat
	background-position: center
	max-height: 400px
	.menu
		margin: 40px 0
		text-align: right
		a
			margin: 0 20px
			color: $white
			padding-bottom: 9px
			display: inline-block
			text-decoration: none
			border-bottom: 2px solid transparent
			font-size: 1em
			&:hover
				border-bottom: 2px solid $white
	.page-wrapper-text
		display: flex
		justify-content: center
		align-content: center
		margin: 60px
		.text
			border: 2px solid rgba(255,255,255,0.5)
			border-radius: 3px
			display: inline-block
			text-align: center
			padding: 20px 60px
			h1, h2
				color: $white
				font-weight: 300
				margin: 0
			.name
				margin-bottom: 10px
				font-size: 50px
				line-height: 50px
			.profession
				font-size: 25px
				line-height: 25px