// MAIN STYLES

.main
	.page-wrapper
		overflow: visible
	.about-projects
		text-align: center
		.photo
			margin-top: 0
			img
				vertical-align: top
				border-radius: 10%
				border: 6px solid rgba(255,255,255,0.2)
		.text
			color: #5a5a5a
			font-weight: 600
			font-size: 1em
			line-height: 30px
			width: 80%
			margin: 40px auto 60px auto
			.title
				font-size: 34px
				line-height: 34px
				margin-bottom: 40px
				font-weight: 325
				color: $title_projects
				text-align: center
	.projects
		background: $bg_projects
		padding: 60px 0
		.page-wrapper
			overflow: hidden
		.title
			font-size: 34px
			line-height: 34px
			margin-bottom: 40px
			font-weight: 300
			color: #323068
			text-align: center
		.page-wrapper-projects
			display: flex
			flex-direction: row
			flex-wrap: wrap
			justify-content: space-between
			.project
				width: 23%
				margin-bottom: 40px
				.thumb
					width: 100%
					margin-bottom: 10px
					img
						width: 100%
						vertical-align: top
						border-radius: 3px
						opacity: 0.5
						border: 1px solid #ddd
						padding: 3px
						&:hover
							opacity: 1
							border: 1px solid #F86624
				.description
					text-align: center
					.name
						font-weight: 700
						color: $title_projects
						margin-bottom: 10px
					.category
						font-size: 14px
						color: $black