// MEDIA QUERIES

@media screen and (max-width: 800px)
	header
		.menu
			text-align: center
			width: 100%
	.main
		.projects
			.page-wrapper-projects
				.project
					width: 100%

@media screen and (max-width: 500px)
	header
		.page-wrapper-text
			width: 100%
			.name
				font-size: 35px
			.profesion
				font-size: 18px
	footer
		.copy-right
			flex-wrap: wrap
			padding: 20px 0